@import url('https://unpkg.com/css.gg@2.0.0/icons/css/film.css');
body {
  font-family: 'Arial', sans-serif;
  background-color: #171717;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  display: flex;
  align-items: center;
  height: 50px;
}

header h1{
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 10px;
}

a {
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 30px;
}

a:hover{
  color: #7b73eb;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie-card {
  position: relative;
  width: 280px;
  height: 420px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #fff;
}

.movie-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}


.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card .img-content {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #e8e8e8;
  padding-left: 14px;
  line-height: 1.5;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .movie-title  {
  font-size: 32px;
  font-weight: 700;
}

.card .content .movie-description {
  font-size: 18px;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .img-content {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(7px);
}

.card:hover .img-content svg {
  fill: transparent;
}


.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}


.movie-title video {
  margin-top: 10px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.movie-price {
  font-size: 1em;
  margin-top: 0.5em;
  font-weight: bolder;
  color: #007BFF;
}

.buy-button {
  width: 50%;
  background-color: rgb(5, 6, 45);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.category {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  margin-top: 5%;
  margin-left: 3.5%;
}

.ownership-details {
  margin-top: 20px;
}

h2 {
  color: #afaeae;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
tbody{
  color: white;
}

th {
  background-color: #f2f2f2;
}

#ownership-result {
  margin-top: 10px;
  color: #555;
}